.custom-calendar .rmdp-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-calendar .rmdp-day {
    font-size: 1rem;
    color: #333;
    border: none;
  }
  
  .custom-calendar .rmdp-day.rmdp-selected {
    background: #E3E6EA;
    border-radius: 50%;
    color: white;
  }
  
  .custom-calendar .rmdp-day.rmdp-disabled {
    color: #ccc;
  }

  .custom-time-picker {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    color: #333;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .custom-time-picker:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .custom-time-picker input {
    border-radius: 8px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 1rem;
    color: #333;
  }
  
  .custom-time-picker input:focus {
    outline: none;
    border: none;
  }
  
  .custom-time-picker .react-time-picker__inputGroup {
    display: flex;
    justify-content: center;
  }
  
  .custom-time-picker .react-time-picker__inputGroup__input {
    width: 50px;
    height: 40px;
    font-size: 1.1rem;
    border: 1px solid red;
    border-radius: 8px;
    margin: 0 5px;
  }
  
  .custom-time-picker .react-time-picker__inputGroup__divider {
    font-size: 1.5rem;
    color: #333;
    padding: 0 5px;
  }
  

  /* Calendar for mentors */
  .calendar-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9fafb;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  
  .react-calendar {
    border: none;
    font-family: Arial, sans-serif;
    width: 100%;
    background-color: transparent;
  }
  
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2388FF;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 0.5rem 1rem;
  }
  
  .react-calendar__navigation button {
    color: white;
    font-weight: bold;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .react-calendar__month-view__weekdays {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #666;
    font-weight: bold;
    padding: 0.5rem 0;
  }
  
  .react-calendar__tile {
    background: none;
    border-radius: 5px;
    padding: 0.5rem;
    transition: background 0.3s, transform 0.2s;
    text-align: center;
  }
  
  .react-calendar__tile--now {
    background: #ffd700;
    color: white;
    border-radius: 5px;
  }
  
  .react-calendar__tile--active {
    background: #2388FF;
    color: white;
    transform: scale(1.05);
  }
  
  .react-calendar__tile:hover {
    background: #e3f2fd;
    transform: scale(1.05);
  }
  
  .highlight {
    background-color: #2388FF;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  